#a{text-shadow: none;

}

a:clicked{
color:black;}

a:hover {
	font-weight: bold;
	font-size:20;
}
.Button:hover{font-weight:normal}
b {
    color:red;
}
body{
    background-color:black;
}

#DX{text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-image:url("http://upload.wikimedia.org/wikipedia/en/4/42/Dxcover.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	width: 100%;
	color:white;
	}
#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

footer {
	position: relative;
	padding-top: 15px;
	position: relative;
	height: 50px;
	background-color: rgb(195,111,92);
	clear: both;
	margin-top:420px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	border-radius:5px;
}

.GHeader{
    color:rgb(12,12,175);
    font-weight: bold;
    text-align:center;
    font-size:40px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
     }
.GNav{
    height:40px;
    width:49.8%;
    font-size:20px;
    text-align:center;
    float:left;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position:relative;
}
.GNav2{
    height:40px;
    width:49.8%;
    font-size:20px;
    float: right;
    background-color:white;
    text-align:center;
    position:relative;
    
}
h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}
header {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: rgb(90,111,69);
	margin-bottom: 10px;
	border-radius: 5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	float:left;
}
iframe{
    opacity:0.4;
}
iframe:hover{
    opacity:1;
}
img{
    opacity:0.4;
}
img:hover{
    opacity:1;
}

.link{
    font-size:16px;
    text-align:left;
}
#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

nav {
	position: fixed;
	float: left;
	margin-top: -5px;
	width: 20%;
	height: 195px;
	background-color: rgb(136,185,207);
	margin-bottom: 10px;
	border-radius: 5px;
	text-align:center;
	float:left;
	
}
nav:hover{
opacity:1;
}

.navMain{opacity:0.1;}


section {
	position: relative;
	float: right;
	margin-top: -5px;
	width: 79%;
	height: 900px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align:left;
	color:black;
	font-family:"verdana";
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;   
	   
}


    
